@font-face {
  font-family: "iconfont"; /* Project id 3227241 */
  src: url('iconfont.woff2?t=1647478964320') format('woff2'),
       url('iconfont.woff?t=1647478964320') format('woff'),
       url('iconfont.ttf?t=1647478964320') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zinv:before {
  content: "\e612";
}

.icon-laonianren:before {
  content: "\e633";
}

.icon-xiangshang1:before {
  content: "\e76d";
}

.icon-xiala:before {
  content: "\e65c";
}

.icon-yangshi_icon_tongyong_home:before {
  content: "\e667";
}

.icon-route1:before {
  content: "\e6ab";
}

